[buildout]
parts = 
    sphinx 

[sphinx]
recipe = collective.recipe.sphinxbuilder
outputs = html
source = ${buildout:directory}/source
build = ${buildout:directory}/build
eggs =
  Sphinx
  Docutils
  roman
  Pygments
  collective.sphinx.includedoc
  collective.sphinx.autoatschema

[versions]
